body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    padding: 20px;
    color: #333;
}

form {
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    background: url('https://cdn.icon-icons.com/icons2/1378/PNG/512/ic_label_90228.png') no-repeat right center;
    background-size: 20px;
}

input[type="submit"] {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #000000;
}

/* Optional: Add responsiveness */
@media screen and (max-width: 768px) {
    form {
        width: 80%;
    }
}
